{% extends "core/base.html" %}
{% block titulo %}
Quienes-Somos Floreria Petalos
{% endblock titulo %}
{% load static %}
{% block contenido %}
<section>
<h2>Quienes Somos</h2>
<h3>Somos Una Floreria Familiar Apuntando a la Alegria de las familias Chilenas</h3>
<p>
Las flores nos hablan, nos cuentan la historia de nuestra vida. Unas veces nos hablarán de la amistad y el amor; y otras de la partida de un ser querido. Nos reciben a la vida y nos despiden. Las flores simbolizan la expresión anímica de la naturaleza humana. Regalar flores es mostrar sentimientos.
Las flores son siempre el regalo perfecto
En Pétalos, encontrará los más hermosos ramos y arreglos florales para cualquier ocasión, con el sello incomparable de elegancia y calidad que más de 30 años de servicio nos avalan, además de una gran variedad de diseños que garantizan la satisfacción de nuestros clientes
Con sólo llamar a nuestro teléfono, o enviarnos un e-mail despacharemos a domicilio el arreglo solicitado.
Deje en nuestras manos su evento y disfrute la magia del arte floral.
</p>
</section>
{% endblock contenido %}