{% extends "core/base.html" %}
{% block titulo %}
  Registro Nuevo Usuario
{% endblock titulo %}
{% load static %}
{% block contenido %}
    <body>
        <div class="container">
            <h1>Nuevo Usuario</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }} 
                </table>
                <input type="submit" value="Registar" class="btn btn-success">
                <input type="reset" value="Borrar" class="btn btn-info">
          </div>
    </body>
{% endblock contenido %}